<template name="practiceLayout">
  <div class="container">
    <div class="row">
      <div class="modal fade">
       <div class = "modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 style="margin-bottom:25px; text-align:center;">
              Sample Survey
            </h3>
          </div>
          <div class="modal body">
            <p>This is the practice task. Please read the emails in your inbox below and click 'Play' to listen to the news story to the right. You will receive a total of 3 emails. They will not appear all at once. You will have to wait for them all to appear. <br /><br />Click the 'Next' button when it appears to continue to the practice questions. When navigating the inbox, please do not use your browser's back button and instead use the 'Back to Inbox' button.</p>
          </div>
          <div class="modal-footer">
          	<button type="button" id ="request" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   <div class="container">
    <div class="row">
<!--     {{> notifications}}   -->
     {{> yield}}
    </div>
   <div class="row">
    <div class="col-md-3">
     {{> practiceRecording}}
    </div>
   </div>
  </div>
</template>
