<template name="signupForm">
    <div class="container">
        <div class="row">
              <div class="col-md-4 col-md-offset-4 col-lg-4 col-md-offset-4">
                    <form class="form-signin" id="signup-form">
                      <h3 class="form-signin-heading">Enter your unique Mechanical Turk ID</h3>
                      <label for="inputMTurkID" class="sr-only">Amazon's Mechanical Turk ID</label>
                      <input type="text" id="inputMTurkID" class="form-control" placeholder="MechanicalTurk ID" required autofocus>
                      <br />
                      <button class="btn btn-md btn-primary btn-block" type="submit">Begin</button>
                    </form>
            </div>
        </div>
    </div>
</template>
