<template name="instructions">
<div class="container">
    <div class = "col-md-6 col-lg-6">
  <div class="jumbotron">
    <h2>Research Survey</h2>
	  <h5>McDonough School of Business,</h5>
	  <h5>Georgetown University</h5>
  <p class="lead">
  On the next screen, we will give you a chance to practice a shortened version of the “real” tasks that we’re going to ask you to do. The practice task will include a 1 minute audio recording of a news story. You can play and pause that recording as you wish. The screen will also show a simulated “Inbox” with several email messages. Additional email messages will appear in your Inbox as time goes by. New, unread messages will appear in bold type and a pop-up message will alert you when new messages arrive.</p>
  <p>After you have listened to the audio recording and viewed the email messages in your Inbox, click the “Next” button to see some practice questions about the news story and email messages. Once you answer the practice questions, you will be told whether you answered them correctly.</p>
  <p>Then, click “Next” again to move on to the real tasks, which include a six-minute clip and more email messages. Your tasks will be to listen to the audio clip while also scheduling a meeting based on email messages from your co-workers. You will have to answer questions about the audio clip, about the best time to schedule a meeting, and about who might not be able to make the meeting at that time. As with the practice tasks, additional email messages will appear in your Inbox over time. You will receive a total of seven email messages, but they will not all appear in your Inbox at the beginning of the task. </p>
  <p>You may stop the task at any time, but you will only get credit for the HIT if you complete the “real” tasks. The practice tests are only a warm-up. Your compensation will depend on how many questions you get correct and how fast you answer them.</p>
  <p><a class="btn btn-lg btn-success" role="button" name="next">Begin Research Survey</a></p>
  </div>
  </div>
  </div>
</template>
